#navbar{
    /* background-color: gray; */
    padding: 10px 20px;
    position: sticky;
    top:0;
    z-index: 1000px;
    border-radius: 30px;
}
#navbar ul{
    list-style:none;
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
    
}
#navbar ul li{
  margin: 0 15px;
}
